.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.weather {
  background: rgb(129,28,58);
  background: linear-gradient(10deg, rgba(129,28,58,1) 0%, rgba(0,116,246,1) 59%);
  color: white;
}
.horoscope {
  background-image: url("https://static.vecteezy.com/system/resources/previews/004/896/848/large_2x/zodiac-wheel-with-galaxy-stars-background-astrology-horoscope-with-signs-aries-taurus-gemini-cancer-leo-virgo-libra-scorpio-sagittarius-capricorn-aquarius-pisces-symbols-free-vector.jpg");
  color: rgb(255, 255, 255);
}
